<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Eliminación en una Lista</title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>css/normalize.css">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>css/estilo-menu.css">
	<?= $js;?>
	<script>$(function() {$( "#pseudo-codigo" ).sortable({
	placeholder: "ui-state-highlight"});
	$( "#pseudo-codigo" ).disableSelection();});</script>
</head>
<body>
	<header>
		<h1><a class="inline-block-top" href="#" >Listas Simplemente<br/>Enlazadas</a></h1>
		<div id="perfil" class="inline-block-top">Datos del Perfil </div>
	</header>
	<nav id="sec-menu">
	    <ul class="menu">
	        <li class="inline-block-top"><a href="#">Definición</a></li>
	        <li class="inline-block-top"><a href="#">Operaciones</a>
	     		<ul>
	     		    <li><a href="#">Crear</a></li>
	     		    <li><a href="#">Insertar</a></li>
	     		    <li><a href="#">Modificar</a></li>
	     		    <li><a href="#">Borrar</a></li>
	     		</ul>
	     	</li>
	     	<li class="inline-block-top"><a href="#">Ejercicios</a></li>
	     	<li class="inline-block-top"><a href="#">Salir</a></li>
	    </ul>
	</nav>
	<main id="marco">
		<h2>Eliminar nodos en una lista simple</h2>
			<p></p>
			<p id="enunciado">Ejemplo: <?= $enunciado; ?></p>
			<p>Lista Inicial: <label class="lista_inicial" ><?= $lista; ?></label>
			</p>
			<section class="sec-canvas inline-block-top">
				<canvas id="canvas" class="canvas" width="700" height="300"></canvas>
				<p>Dato(s) actuales en la Lista:
				<label class="lista_inicial" id="lista" ><?= $lista; ?></label>
				<script type="text/javascript" src="<?php echo base_url();?>js/animacion/animacion.js"></script>
				</p>
			</section>
			<div class="div-botones inline-block-top">
				<button id="eliminar-nodo">Eliminar Nodo</button>
				<button id="eliminar-inicio">Eliminar Inicio</button>
				<button id="eliminar-final">Eliminar Ultimo</button>
			</div>
			<section id="sec-codigo">
				<ul id="pseudo-codigo" class="inline-block-top">
				    <h3>Pseudo-código</h3>
				    <?php foreach ($sentencias as $key) {?>
				    	<li><pre class="prettyprint lang-c"><?=$key;?></pre></li>	
				    <?php }?>
				</ul>
				<ul id="codigo" class="inline-block-top">
				    <h3>Código en C</h3>
				    <li><pre class="prettyprint lang-c"><?=$lineas;?></pre></li>
				</ul>
			</section>
	</main>
	<footer>
		<p>Hola Mundo</p>
	</footer>
	<script type="text/javascript" >inicio();</script>
</body>
</html>