@font-face {
    font-family: 'simbolos';
    src: url('fuentes/Entypo-webfont.eot');
    src: url('fuentes/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
        url('fuentes/Entypo-webfont.woff') format('woff'),
        url('fuentes/Entypo-webfont.ttf') format('truetype'),
        url('fuentes/Entypo-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	
	/*background-image: url('../images/fondo2.jpg');*/
	background-color: #fefefe;
	background-repeat: repeat no-repeat;
	background-size: 100%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#marco{
	
	/*background-image: url('http://fondox.net/0/4029');*/
	background-color: #D4E7D9;
	color: #000;
	margin: 0 auto;
	padding: 1em;
	position: center;
	width: 95%;
	/*height: 883px;*/
	/*position: fixed;*/
}



footer{
	background-image: url('../images/teclado-mouse.jpg') ;
	background-repeat: no-repeat;
	background-size: inherit;
	/*display: block;*/
	bottom: 0px;
	height: 100px;
	width: 100%;
	/*position: fixed;*/
}

header {
	background-color: #25D4C7;
	padding: 0.5em 1em;
	text-align: right;
}

header h1{
	color: #eee;
	float: left;
	font-size: 2em;
	margin: 0;
	text-align: center;
	text-shadow: 0px 0px 2px #e00;
}
header h1 a{
	color: #eee;
	text-decoration: none;
}

article, h2, h3, p{
	text-align: left;
}

article{
	padding-left: 3em;
}
.canvas{
	background-color: rgba(37, 212, 112, 0.75);
	box-shadow: 0px 0px 15px #214426;
	border-radius: 0.5em;
	margin: 0;
}
.codigo{
	text-align: left;
}
.codigo pre{ 
	padding: 1em;
	font-size: 1.15em;
	margin: 0;
}
.inline-block-top{
	display: inline-block;
	vertical-align: top;
}
.menu {	
	background-color: rgb(189, 252, 225);
	margin: 0;
	padding: 0.5em 0.5em 0px 0.5em;
	list-style: none;
	background-color: #2EC3B8;
}

.menu li a{
	background-color: #30DA86;
	color: #000;
	display: block;
	margin: 0px;
	padding: 0.5em;
	text-decoration: none;
	transition: all 150ms ease-in;
}

.menu li a:hover{
	background-color: #30DA86;
	border-top-right-radius: 0.8em;
	border-top-left-radius: 0.8em;
	box-shadow: 0px 0px 2px #214426;
	color: #eef;
	text-shadow: 1px 0px 1px #214426;
}

.menu li:hover > ul{
	display: block;
}
.menu ul{
	display: none;
	list-style: none;
	padding: 0 0.5em;
}

.menu ul li a{
	background-color: #683434;
}

.modalmask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #062624;
    z-index: 99999;
    opacity:0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}
.modalbox{
    background-color: #C4F8C5;
    border-radius:3px;
    box-shadow: 0px 0px 250px #928686;
    padding: 5px 20px 13px 20px;
    position: relative;
    transition: all 400ms ease-in;
    width: 400px;
}

.movedown {
    margin: 0 auto;
}
.modalmask:target .movedown{       
    margin:10% auto;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}

.nota{
	background: #efe;
	display: block;
	padding: 1em;
}

.ui-state-highlight { 
	border: 2px dashed #eee;
	height: 1.5em; 
	line-height: 1.2em; 
}

.div-botones{
	padding: 2em 0 2em 1em;
	height: 267px;
}

.div-botones button{
	color: #222;
	display: block;
	margin: 0.8em;
}
.referencia{
	text-align: right;
	font-size: 0.8em;
	font-style: italic;
}

.sec-canvas{
	/*background-color: #c0c0c0;*/
	/*padding-bottom: 10px;*/
}

#detalle-op{
	box-shadow: 0.5em 0.5em 1em #93AE93;
}
#detalle-op thead{
	background-color: #4CC288;
	text-align: center;
}
#detalle-op tbody tr:nth-child(odd) {
	background: #e8edff;
}

#detalle-op tbody tr:nth-child(even) {
	background-color: #6FC8D7;
}
#detalle-op th{
	padding: 1em 0.5em;
}
#detalle-op td{
	padding: 1.2em;
}
#detalle-op tr:hover td { 
	background: #d0dafd; color: #339;
}

#enunciado{
	width: 80%;
}

#enviar{
	background-color: #66D787;
	border: 0;
	box-shadow: 0px 2px 5px #5F695D;
	display: inline-block;
	margin: 5em 1em;
	padding: 1em;
	vertical-align: bottom;
	transition: all 300ms ease-in;
}

#enviar:hover{
	background-color: #0CF;
	color: #efe;	
}

#intentos{
	background-color: #efe;
	box-shadow: 5px 5px 5px #ABCF9E;
	padding: 0 1.5em;
	width: 15%;
}
#intentos p{
	text-align: center; 
}
#intentos span{
	background-color: #ECBEBE;
	border-radius: 1em;
    color: #d44;
    font-family: 'simbolos';
    font-size: 5em;
    line-height: 50px;
	padding: 0 0.1em;
}
#intentos-error{
	color: #d44;
	margin-top: 0;
}
#intentos-x::after{
    content: 'X';
    
}
.lista_inicial{
	color: #eee;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	padding: 0.5em;
}
#nombre{
	background-color: #1F5C4A;
    text-decoration: none;
    color: #BBF9CB;
    padding: 0.5em;
	border-radius: 0.5em 2em 0.5em 2em;
	box-shadow: 2px 2px 4px #1F5C4A;
}
#nombre:hover{
	background-color: #1F4A5C;
}

#marco label{
	color: #eee;
}
#sec-codigo{
	display: block;
	/*list-style: none;*/
	margin: 0;
}

#sec-codigo li{
	background-color: rgba(25, 62, 51, 0.78);
	border-radius: 0.5em;
	cursor: pointer;
	/*color: #eee;*/
	display: block;
	margin: 0.1em;
	padding: 0.3em;
}

#sec-codigo pre{
	background-color: transparent;
	margin: 0px;
	text-align: left;
}

#sec-codigo ul{
	background-color: #0cf;
	border-radius: 0.5em;
	box-shadow: 0px 0px 15px #214426;	
	margin: 1em;
	padding: 0.5em 1em;
	/*list-style: none;*/
}
