body{
	
	/*background-image: url('../images/fondo2.jpg');*/
	background-color: #fefefe;
	background-repeat: repeat no-repeat;
	background-size: 100%;
	text-align: center;
}

#marco{
	
	/*background-image: url('http://fondox.net/0/4029');*/
	background-color: #D4E7D9;
	color: #000;
	margin: 0 auto;
	padding: 1em;
	position: center;
	width: 95%;
	/*height: 883px;*/
	/*position: fixed;*/
}



footer{
	background-image: url('../images/teclado-mouse.jpg') ;
	background-repeat: no-repeat;
	background-size: inherit;
	/*display: block;*/
	bottom: 0px;
	/*height: 100px;*/
	width: 100%;
	/*position: fixed;*/
}

header {
	background-color: #25D4C7;
	padding: 0.5em 1em;
	text-align: right;
}

header h1{
	color: #eee;
	float: left;
	font-size: 2em;
	margin: 0;
	text-align: center;
	text-shadow: 0px 0px 2px #e00;
}
header h1 a{
	color: #eee;
	text-decoration: none;
}

article, h2, h3, p{
	text-align: left;
}

article{
	padding-left: 3em;
}

.inline-block-top{
	display: inline-block;
	vertical-align: top;

}
.menu {	
	background-color: rgb(189, 252, 225);
	margin: 0;
	padding: 0.5em;
	list-style: none;
	background-color: #2EC3B8;
}

.menu li a{
	border-radius: 0.1em;
	color: #000;
	display: block;
	margin: 1px 0.5em;
	padding: 6px;

	text-decoration: none;
}

.menu li a:hover{
	background-color: #30DA86;
	color: #eef;
	text-shadow: 1px 0px 1px #214426;
}

.menu li:hover > ul{
	display: block;
}
.menu ul{
	display: none;
	list-style: none;
	padding: 0 0.5em;
}

.menu ul li a{
	background-color: #683434;
}

.ui-state-highlight { 
	border: 2px dashed #eee;
	height: 1.5em; 
	line-height: 1.2em; 
}

.canvas{
	background-color: rgba(37, 212, 112, 0.75);
	box-shadow: 0px 0px 15px #214426;
	border-radius: 0.5em;
	margin: 0;
}

#enunciado{
	width: 90%;
}

.lista_inicial{
	color: #eee;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	padding: 0.5em;
}
.div-botones{
	padding: 2em 0 2em 1em;
	height: 267px;
}

.div-botones button{
	color: #222;
	display: block;
	margin: 0.8em;
}

.sec-canvas{
	/*background-color: #c0c0c0;*/
	/*padding-bottom: 10px;*/
}
#marco label{
	color: #eee;
}
#sec-codigo{
	display: block;
	/*list-style: none;*/
	margin: 0;
}

#sec-codigo li{
	background-color: rgba(25, 62, 51, 0.78);
	border-radius: 0.5em;
	cursor: pointer;
	/*color: #eee;*/
	display: block;
	margin: 0.1em;
	padding: 0.3em;
}

#sec-codigo pre{
	background-color: transparent;
	margin: 0px;
	text-align: left;
}

#sec-codigo ul{
	background-color: #0cf;
	border-radius: 0.5em;
	box-shadow: 0px 0px 15px #214426;	
	margin: 1em;
	padding: 0.5em 1em;
	/*list-style: none;*/
}
